@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "utils/_variables";
@import "utils/mixins";

html,body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: $light-orange;
}

html {
  font-size: 62.5%;
}

body {
  font: {
    family: $default-font;
  }
  @include font-size(14);
  color: $text-color;
}

img {
  max-width: 100%;
  object-fit: contain;
}

a {
  color: $red;
  text-decoration: none;
  transition: color ease 300ms;
  &:hover {
    color: rgba($red, 0.7);
  }
}

p {
  margin-bottom: 33px;
  padding-bottom: 0;
}

h1,h2,h3,h4 {
  font-weight: 400;
}

h1 {
  @include font-size(30);
}
h2 {
  @include font-size(24);
}
h3 {
  @include font-size(18);
}
h4 {
  @include font-size(14);
}

// tab

.p-tabview {
  .p-tabview-panel {
    @include font-size(14);
  }
  .p-tabview-panels.p-tabview-panels {
    padding: 18px 0;
  }
  .p-tabview-nav.p-tabview-nav {
    border: 0;
    li {
      .p-tabview-nav-link {
        @include font-size(14);
        font-weight: 400;
        border: 0;
        margin: 0;
        padding: 10px 18px;
      }
      &.p-highlight {
        .p-tabview-nav-link {
          color: $red;   
          border-bottom: 3px solid $red;       
        }
      }
    }
  }
}

//swiper
.swiper-button-prev, .swiper-button-next {
  color: $red !important;
  height: 100% !important;
  top: 22px !important;
  width: 134px !important;
  background: #fff;
  @media (max-width: 800px) {
    width: 50px !important;
  }
}
.swiper-button-prev.swiper-button-prev {
  left: -101px;
  @media (max-width: 800px) {
    left: -43px;
  }
}
.swiper-button-next.swiper-button-next {
  right: -101px;
  @media (max-width: 800px) {
    right: -43px;
  }
}

.p-tabview-nav {
  display: block;
  li {
    display: inline-block;
  }
}

.product-summary {
  .p-button {
    .pi {
      @include font-size(14);
    }
  }
}

.form-wrapper {
  .p-dropdown-label {
    @include font-size(14);
    display: flex;
    align-items: center;
    padding: 0 14px;
  }
}