<template>
  <div class="main">
    <Meta />
    <div class="container">
      <div class="hero-panel">
        <figure>
          <img src="@/assets/images/safari.jpg" alt="">
        </figure>
        <div class="product-summary">
          <h2>Dubai Desert Safari</h2>
          <span class="location product-summary__row"> <i class="pi pi-map-marker"></i> Dubai, united Arab Emirates</span>
          <span class="price product-summary__row"> 
            <div class="price__tag">
              $199
            </div>
            <div class="rating">
              <StarRating active-color="#ff9f43" inactive-color="#f8f8f8" :rating="4" :star-size="18" :show-rating="false" :border-width="1" />
            </div>
            </span>
          <span class="highlight product-summary__row"> Best offer guaranteed <i class="pi pi-exclamation-circle"></i></span>
          <p>Tackle the highest dunes of the Arabian desert and experience the magic of desert culture on this evening safari!</p>
          <ThemeButton label="Check availability" icon="pi pi-calendar" color="red" />
          <ThemeButton label="Add to bucketlist" icon="pi pi-heart" />
          <ThemeButton icon="pi pi-share-alt" />
          <hr>
          <h3>Overview</h3>
          <ul class="overview-group">
            <li class="overview-group__item"><i class="pi pi-clock"></i> Around 5 to 6 hours</li>
            <li class="overview-group__item"><i class="pi pi-users"></i> Good for families</li>
            <li class="overview-group__item"><i class="pi pi-comment"></i> Offered in English and Arabic</li>
            <li class="overview-group__item"><i class="pi pi-car"></i> Transport available</li>
            <li class="overview-group__item"><i class="pi pi-bolt"></i> Instant confirmation</li>
            <li class="overview-group__item"><i class="pi pi-print"></i> Mobile or print ticket acceptable</li>
            <li class="overview-group__item"><i class="pi pi-check"></i> Free cancellation upto 48 hours</li>
            <li class="overview-group__item"><i class="pi pi-dollar"></i> EMI options available</li>
          </ul>
        </div>
      </div>
      <div class="description">
        <TabView :activeIndex="activeIndex">
          <TabPanel header="Details">
           <h3 class="tab-heading">What's included?</h3>
           <ul class="simple-listing">
             <li class="simple-listing__item">
               <i class="pi pi-check"></i> Pick up and drop off from your designated location or hotels within Dubai.
             </li>
             <li class="simple-listing__item">
               <i class="pi pi-check"></i> English speaking safari guid.
             </li>
             <li class="simple-listing__item">
               <i class="pi pi-check"></i> Dune bashing.
             </li>
             <li class="simple-listing__item">
               <i class="pi pi-check"></i> Camel riding.
             </li>
             <li class="simple-listing__item">
               <i class="pi pi-check"></i> Entertainment at the campsite (tanoura show, fire dancing, belly dancing).
             </li>
             <li class="simple-listing__item">
               <i class="pi pi-check"></i> Henna painting and traditional Arabic dress photo oppurtunity.
             </li>
             <li class="simple-listing__item">
               <i class="pi pi-check"></i> BBQ dinner buffet with unlimited soft drinks.
             </li>
           </ul>
           <ul class="simple-listing02">
             <li class="simple-listing02__item">
               <i class="pi pi-times"></i> Pick up and drop off from your designated location or hotels within Dubai.
             </li>
             <li class="simple-listing02__item">
               <i class="pi pi-times"></i> English speaking safari guid.
             </li>
             <li class="simple-listing02__item">
               <i class="pi pi-times"></i> PDune bashing.
             </li>
             <li class="simple-listing02__item">
               <i class="pi pi-times"></i> Camel riding.
             </li>
             <li class="simple-listing02__item">
               <i class="pi pi-times"></i> Entertainment at the campsite (tanoura show, fire dancing, belly dancing).
             </li>
             <li class="simple-listing02__item">
               <i class="pi pi-times"></i> Henna painting and traditional Arabic dress photo oppurtunity.
             </li>
             <li class="simple-listing02__item">
               <i class="pi pi-times"></i> BBQ dinner buffet with unlimited soft drinks.
             </li>
           </ul>
          </TabPanel>
          <TabPanel header="Good to know">
            Good to know content
          </TabPanel>
          <TabPanel header="Terms">
            Terms content
          </TabPanel>
          <TabPanel header="Reviews">
            Reviews content
          </TabPanel>
        </TabView>
      </div>
      <div class="features">
        <Features 
          v-for="feature in features"
          :key="feature.title"
          :icon="feature.icon" 
          :title="feature.title" 
          :content="feature.content"
           />
      </div>
      <div class="experience">
        <div class="experience__header">
          <h2>Similar experiences</h2>
          <p>People also search for these experience</p>
        </div>
        <div class="slider-wrapper">
          <Swiper
            :slides-per-view="4"
            :space-between="55"
            :modules="modules"
            navigation
            :breakpoints='{
              "320": {
                "slidesPerView": 1,
                "spaceBetween": 0
              },
              "640": {
                "slidesPerView": 2,
                "spaceBetween": 20
              },
              "1024": {
                "slidesPerView": 3,
                "spaceBetween": 55
              },
              "2000": {
                "slidesPerView": 4,
                "spaceBetween": 55
              },
              "2500": {
                "slidesPerView": 6,
                "spaceBetween": 55
              }
            }'
          >
            <SwiperSlide v-for="slider in sliders" :key="slider.title">
                <Slide 
                  :image="slider.image" 
                  :title="slider.title" 
                  :subTitle="slider.subTitle"
                  :rating="slider.rating"
                  :price="slider.price"
                />
            </SwiperSlide>
          </Swiper>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ThemeButton from '@/components/ThemeButton.vue';
import Features from '@/components/Features.vue';
import Slide from '@/components/Slide.vue';
import Meta from '@/components/Meta.vue';
import { Navigation } from 'swiper';

// features data
const features = [
  {icon: 'varified.png', title: 'Varified Experience', content: 'Chocolate bar candy canes ice cream tofee. Croissant pie cookie' },
  {icon: 'flexible-policies.png', title: 'Flexible Cancellation Policies', content: 'Chocolate bar candy canes ice cream tofee. Croissant pie cookie' },
  {icon: 'secure-payment.png', title: '100% Secure Payment', content: 'Cotton candy gingerbread cake I love sugar plum I love sweet croissant' }
]

const sliders = [
  {image: 'apple-watch.png', title: 'Apple Watch Series 6', subTitle: 'by Apple', rating: 4, price: '$399.98' },
  {image: 'apple-mac-pro.jpeg', title: 'Apple MacBook pro - Silver', subTitle: 'by Apple', rating: 2, price: '$2449.49' },
  {image: 'apple-home-pod.jpeg', title: 'Apple HomePod (Space Gray)', subTitle: 'by Apple', rating: 3, price: '$229.29' },
  {image: 'apple-magic-mouse-2.png', title: 'Varified Experience', subTitle: 'by Apple', rating: 5, price: '$90.98' },
  {image: 'apple-watch.png', title: 'Apple Watch Series 6', subTitle: 'by Apple', rating: 4, price: '$399.98' },
  {image: 'apple-mac-pro.jpeg', title: 'Apple MacBook pro - Silver', subTitle: 'by Apple', rating: 2, price: '$2449.49' },
  {image: 'apple-home-pod.jpeg', title: 'Apple HomePod (Space Gray)', subTitle: 'by Apple', rating: 3, price: '$229.29' },
  {image: 'apple-magic-mouse-2.png', title: 'Varified Experience', subTitle: 'by Apple', rating: 5, price: '$90.98' }
]


export default {
  data() {
    return {features: features, sliders: sliders}
  },
  components:{
    ThemeButton, 
    Features,
    Slide,
    Meta
  },
  setup() {
      return {
        modules: [Navigation],
      };
    },
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/utils/_variables';
@import '@/assets/scss/utils/_mixins';
%unlist {
  list-style: none;
  padding: 0;
  margin: 0;
}


hr {
  margin: 36px 0 18px;
  border-top: $light-grey 1px solid;
}

.main {
  padding: 15px 5px;
}
h2 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
h3 {
  margin-bottom: 17px;
}

.overview-group {
  @extend %unlist;
  @media (min-width: 662px) {
    column-count: 2;
  }
  @media (min-width: 800px) and (max-width: 1024px) {
    column-count: 1;
  }
  &__item {
    padding-top: 15px;
    .pi {
      margin-right: 8px;
      @include font-size(14);
    }
  }
}
.simple-listing,.simple-listing02 {
  margin-bottom: 24px;
  @extend %unlist;
  @include font-size(14);
  &__item {
    padding: 2px 0;
    i {
      margin-right: 5px;
    }
  }
}

.simple-listing {
  i {
    color: $green;
  }
}

.simple-listing02 {
  i {
    color: $red;
  }
}


.container {
  background: $white;
  padding: 65px 30px;
  border-radius: 12px;
  box-shadow: #dfdcdc 0px -2px 6px 0px;
}

.hero-panel {
  display: flex;
  margin-bottom: 96px;
  @media (max-width: 800px) {
    display: block;
  }
  h2 {
    margin-bottom: 16px;
  }
  figure {
    margin: 0 0 30px 0;
    padding: 0;
    max-width: 669px;
    @media (min-width: 801px) {
      margin: 0 30px 0 0;
      width: 50%;
    }
  }
  .product-summary {
    flex: 1;
    &__row {
      margin-bottom: 16px;
      display: block;
    }
    .p-button {
      @media(max-width: 1000px) {
        display: block;
        width: 100%;
        margin-bottom: 18px;
      }
    }
  }
  .location {
    color: $red;
    @include font-size(14);
    display: block;
    .pi {
       @include font-size(12);
       color: $text-color;
    }
  }
  .highlight {
    color: $green;
     .pi {
       @include font-size(12);
       color: $text-color;
       cursor: pointer;
    }
  }
  .price {
    @include font-size(16);
    display: flex;
    &__tag {
      color: $red;
      padding-right: 20px;
      @include font-size(16);
    }
    .rating {
      border-left: $border-grey 1px solid;
      padding-left: 20px;
      i {
        @include font-size(20);
      }
    }
  }
}

.tab-heading {
  margin: 0 0 14px;
  padding: 0;
}

.features {
  margin: 21px -30px 68px;
  padding: 75px 45px;
  background: $light-orange;
  display: flex;
  @media (max-width: 800px) {
    display: block;
  }
  &__item {
    flex: 1;
    text-align: center;
    padding: 0 20px;
  }
}

.experience {
  h2 {
    margin-bottom: 15px;
  }
  &__header {
    text-align: center;
  }
}

.slider-wrapper {
  padding: 0 70px;
  overflow: hidden;
  @media (max-width: 800px) {
    padding: 0 30px;
  }
  .swiper-container {
    overflow: visible;
  }
}
</style>
