<template>
  <div class="main">
    <div class="nav-panel">
      <nav>
        <div class="nav-overlay" id="navOverlay"></div>
        <div class="link-wrapper" v-on:mouseenter="mouseEnter" v-on:mouseleave="mouseLeave">
          <router-link class="nav-panel__link" to="/" >
            Product
          </router-link>
          <ul class="ddmenu first">
            <li>
              <i><img src="@/assets/images/pages/payment.png" alt=""/></i>
              <router-link to="/">
              <span class="violet">Payment</span>
              A complete payments platform engineered for growth.
              </router-link>
            </li>
            <li>
              <i><img src="@/assets/images/pages/billing.png" alt=""/></i>
              <router-link to="/">
              <span class="green">Billing</span>
              Build and scale your recurring business model.
              </router-link>
            </li>
            <li>
              <i><img src="@/assets/images/pages/connect.png" alt=""/></i>
              <router-link to="/">
              <span class="cyan">Connect</span>
              Everything platforms need to get sellers paid
              </router-link>
            </li>
          </ul>
        </div>
        <div class="link-wrapper" v-on:mouseenter="mouseEnter" v-on:mouseleave="mouseLeave">
          <router-link class="nav-panel__link" to="/" >
            Developers
          </router-link>
          <ul class="ddmenu second">
            <li>
              <div class="nav">
                <i><img src="@/assets/images/pages/documentation.png" alt=""/></i>
                <router-link to="/">
                <span class="violet">Documentation</span>
                Start integrating Stripes products and tools.
                </router-link>
              </div>
              <div class="nav-details">
                <div class="nav-details__col">
                  <div class="nav-details__title">Get Started</div>
                  <div class="nav-details__links">
                    <a href="#">Elements</a>
                    <a href="#">Checkout</a>
                    <a href="#">Mobile apps</a>
                    <a href="#">Libraries</a>
                  </div>
                </div>
                <div class="nav-details__col">
                  <div class="nav-details__title">Popular Topics</div>
                  <div class="nav-details__links">
                    <a href="#">Elements</a>
                    <a href="#">Checkout</a>
                    <a href="#">Mobile apps</a>
                    <a href="#">Libraries</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="link-wrapper" v-on:mouseenter="mouseEnter" v-on:mouseleave="mouseLeave">
          <router-link class="nav-panel__link" to="/">
            Company
          </router-link>
          <ul class="ddmenu third">
            <li>
              <i><img src="@/assets/images/pages/about-us.png" alt=""/></i>
              <router-link to="/">
                <span class="violet">About Stripe</span>
              </router-link>
            </li>
            <li>
              <i><img src="@/assets/images/pages/customers.png" alt=""/></i>
              <router-link to="/">
                <span class="violet">Customers</span>
              </router-link>
            </li>
            <li>
              <i><img src="@/assets/images/pages/partner.png" alt=""/></i>
              <router-link to="/">
                <span class="violet">Partner Program</span>
              </router-link>
            </li>
            <li>
              <i><img src="@/assets/images/pages/jobs.png" alt=""/></i>
              <router-link to="/">
                <span class="violet">Jobs</span>
              </router-link>
            </li>
            <li>
              <i><img src="@/assets/images/pages/environment.png" alt=""/></i>
              <router-link to="/">
                <span class="violet">Environment</span>
              </router-link>
            </li>
            <li>
              <i><img src="@/assets/images/pages/newsroom.png" alt=""/></i>
              <router-link to="/">
                <span class="violet">Newsroom</span>
              </router-link>
            </li>
          </ul>
        </div>
        <router-link class="nav-panel__link" to="/">Pricing</router-link>
      </nav>
      <router-link class="nav-panel__link" to="/">Support</router-link>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    mouseEnter(e) {
      document.getElementById('navOverlay').style.opacity = 1;
      const eleLeft = e.target.offsetLeft ;
      const eleHeight = e.target.querySelector('.ddmenu').offsetHeight;
      document.getElementById('navOverlay').style.left = (eleLeft- 150) + 'px';
      document.getElementById('navOverlay').style.height = eleHeight + 'px';
   
    },
    mouseLeave() {
      document.getElementById('navOverlay').style.opacity = 0;
      document.getElementById('navOverlay').style.left = '-190px';
      document.getElementById('navOverlay').style.height = 'auto';

    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/utils/_variables";
@import "@/assets/scss/utils/_mixins";


.main {
  width: 100vw;
  height: 100vh;
  background: $blue;
}
.nav-panel {
  float: right;
  padding: 40px;
  &__link {
    @include font-size(18);
    color: $white;
  }
}
nav {
  margin-right: 88px;
  position: relative;
  float: left;
  width: 450px;
  &:after {
      content: "";
      clear: both;
      display: table;
  }
  .link-wrapper {
    float: left;
    padding: 0 22px 14px;
    position: relative;
    overflow: hidden;
    .ddmenu {
      position: absolute;
      list-style: none;
      padding: 30px 0 0;
      margin: 0;
      left: 80%;
      transform: translateX(-50%);
      top: 100%;
      width: 345px;
      background: $white;
      transition: all ease-in 300ms;
      opacity: 0;
      a {
        color: $text-color;
        line-height: 18px;
        display: block;
      }
      &.first {
        li {
          display: flex;
          margin: 30px 0;
          i {
            width: 50px;
            margin-right: 15px;
          }
          a {
            flex: 1;
            @include font-size(14);
            span {
              text-transform: uppercase;
              display: block;
              margin-bottom: 12px;
            }
          }
        }
      }
      &.second {
        li {
          .nav{
          display: flex;
          margin: 30px 0;
          i {
            width: 15px;
            margin-right: 15px;
          }
          a {
            flex: 1;
            @include font-size(14);
            span {
              text-transform: uppercase;
              display: block;
              margin-bottom: 12px;
            }
          }
        }
        }
      }
      &.third {
        li {
          display: flex;
          margin: 10px  0;
          i {
            width: 15px;
            margin-right: 15px;
          }
          a {
            flex: 1;
            @include font-size(14);
            span {
              text-transform: uppercase;
              display: block;
              margin-bottom: 12px;
            }
          }
        }
      }
    }
    &:hover {
      overflow: visible;
      .ddmenu {
        left: 50%;
        opacity: 1;
      }
    }
  }
  > a {
    display: block;
  }
}

.nav-overlay {
  background: $white;
  height: 300px;
  width: 450px;
  position: absolute;
  top: 100%;
  left: -100px;
  /* opacity: 0; */
  transition: all cubic-bezier(0, 0.55, 0.45, 1) 300ms;
  border-radius: 6px;
  &::after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #ffffff;
    border-width: 12px;
    margin-left: -12px;
  }
}

.violet {
  color: #6d70b3;
}
.green {
  color: #659785;
}
.cyan {
  color: #3a7cb5;
}
.nav-details {
  @include font-size(14);
  display: flex;
  padding-left: 30px;
  margin-bottom: 10px;
  &__col {
    flex: 1;
    color: $text-color;
  }
  &__title {
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  &__links {
    a {
      display: block;
      margin-bottom: 10px;
    }
  }
}
</style>
