<template>
	<div class="main">
		<div class="container">
			<div class="container__card card-wrapper">
				<div class="card" id="card">
					
					<div class="card__face card__face--front">
						<span class="selector-highlight" id="highlighter"></span>
						<div class="card__type">
							<div class="front-card-type">
								<img :src="require(`@/assets/images/${cardType}`)" alt="" />
							</div>
						</div>
						<div class="card__number" id="ccnumber">
							<span
								v-for="val in ccNumber"
								:key="val"
								:class="val !== '#' && 'active'"
							>
								<span class="blank">#</span>
								<span class="fill">{{ val }}</span>
							</span>
						</div>
						<div class="card__holder-expiry">
							<div class="card__holder" id="ccholder">
								<div class="label">Card Holder</div>
								{{ cardHolder }}
							</div>
							<div class="card__expiry" id="ccexpiry">
								<div class="label">Expires</div>
								{{ selectedMonth?.code ? selectedMonth.code : "MM" }}/{{
									selectedYear?.code ? selectedYear.code : "YY"
								}}
							</div>
						</div>
					</div>
					<div class="card__face card__face--back">
						<div class="card__barcode"></div>
						<div class="card__cvv">
							<div class="label">CVV</div>
							<div class="cvv-placeholder">
								{{ cardCVV }}
							</div>
						</div>
						<div class="card-type">
							<img src="@/assets/images/discover.png" alt="" />
						</div>
					</div>
				</div>
			</div>
			<div class="container__form">
				<form>
					<div class="form-wrapper">
						<div class="form-wrapper__item">
							<label for="cardNumber">Card Number</label>
							<InputText
								type="text"
								id="cardNumber"
								v-model="cardNumber"
								v-on:keyup="cardKeyEvent"
								v-on:keypress="allowOnlyNumbers"
								maxlength="16"
								v-on:focus="hightLight('ccnumber')"
							/>
						</div>
						<div class="form-wrapper__item">
							<label for="cardName">Card Name</label>
							<InputText id="cardName" v-model="cardHolder" v-on:focus="hightLight('ccholder')"/>
						</div>
						<div class="form-wrapper__item form-wrapper__item--flex">
							<div class="form-column expiry">
								<label for="expirationData">Expiration Data</label>
								<div class="dropdowns" v-on:click="hightLight('ccexpiry')">
									<Dropdown
										v-model="selectedMonth"
										:options="months"
										optionLabel="name"
										placeholder="Month"
									/>
									<Dropdown
										v-model="selectedYear"
										:options="years"
										optionLabel="name"
										placeholder="Year"
									/>
								</div>
							</div>
							<div class="form-column cvv">
								<label for="cvv">CVV</label>
								<InputText
									type="number"
									id="cvv"
									v-model="cardCVV"
									v-on:focus="cvvFocus()"
									v-on:blur="cvvBlur()"
								/>
							</div>
						</div>
						<div class="form-wrapper__item">
							<Button label="Submit" type="submit" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
import { computed, ref } from "@vue/reactivity";
export default {
	data() {
		return {
			cardNumberValue: null,
			cardHolder: "AD Soyad",
			cardCVV: null,
			selectedMonth: null,
			selectedYear: null,
			cardNumberDuplicate: null,
			cardType: "visa.png",
			months: [
				{ name: "01", code: "01" },
				{ name: "02", code: "02" },
				{ name: "03", code: "03" },
				{ name: "04", code: "04" },
				{ name: "05", code: "05" },
				{ name: "06", code: "06" },
				{ name: "07", code: "07" },
				{ name: "08", code: "08" },
				{ name: "09", code: "09" },
				{ name: "10", code: "10" },
				{ name: "11", code: "11" },
				{ name: "12", code: "12" },
			],
			years: [
				{ name: "2022", code: "22" },
				{ name: "2023", code: "23" },
				{ name: "2024", code: "24" },
				{ name: "2025", code: "25" },
				{ name: "2026", code: "26" },
				{ name: "2027", code: "27" },
				{ name: "2028", code: "28" },
				{ name: "2029", code: "29" },
				{ name: "2030", code: "30" },
				{ name: "2031", code: "31" },
				{ name: "2032", code: "32" },
				{ name: "2033", code: "33" },
			],
		};
	},
	setup() {
		let cardNumber = ref("");

		const ccNumber = computed(() => {
			if (cardNumber.value) {
				const cardNum = [...cardNumber.value];
				const defaultcardNum = [..."################"];
				cardNum.filter((value, index) => {
					defaultcardNum[index] = value;
				});
				return defaultcardNum;
			} else {
				return "################";
			}
		});

		return { cardNumber, ccNumber };
	},
	methods: {
		cvvFocus() {
			document.getElementById("card").classList.add("flip");
		},
		cvvBlur() {
			document.getElementById("card").classList.remove("flip");
		},
		allowOnlyNumbers(evt) {
			//numbers only
			evt = evt ? evt : window.event;
			var charCode = evt.which ? evt.which : evt.keyCode;
			if (
				charCode > 31 &&
				(charCode < 48 || charCode > 57) &&
				charCode !== 46
			) {
				evt.preventDefault();
			} else {
				return true;
			}
		},
		cardKeyEvent(evt) {
			const targetValue = evt.target.value.substring(0, 4);
			if (targetValue.includes("4131")) {
				this.cardType = "master.png";
			} else if (targetValue.includes("5141")) {
				this.cardType = "visa.png";
			} else if (targetValue.includes("6151")) {
				this.cardType = "discover.png";
			} else {
				this.cardType = "visa.png";
			}
		},
		hightLight(nodeString) {
			let containerWidth = document.getElementById(nodeString).offsetWidth;
			let offsetTop = document.getElementById(nodeString).offsetTop;
			let offsetLeft = document.getElementById(nodeString).offsetLeft;

			
			containerWidth = containerWidth + 'px';

			if(nodeString === 'ccnumber') {
				offsetTop = (offsetTop - 15)+ 'px';
				offsetLeft = offsetLeft + 'px';
			} else if (nodeString === 'ccholder') {
				offsetTop = (offsetTop - 6) + 'px';
				offsetLeft = (offsetLeft - 10) + 'px';
			} else {
				offsetTop = (offsetTop - 6) + 'px';
				offsetLeft = (offsetLeft + 7) + 'px'; 
			}
			document.getElementById('highlighter').style.top = offsetTop;
			document.getElementById('highlighter').style.width = containerWidth;
			document.getElementById('highlighter').style.left = offsetLeft;
		}
	},
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/utils/_variables";
@import "@/assets/scss/utils/_mixins";
.main {
	background: $bg-blue;
	width: 100vw;
	height: 100vh;
	color: #000;
}

.container {
	padding-top: 20px;
	&__card {
		margin-bottom: -105px;
		z-index: 1;
	}
	&__form {
		width: 100%;
		max-width: 456px;
		margin: 0 auto;
		background: $white;
		padding: 145px 28px 28px;
		border-radius: 12px;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 30px 5px;
		label {
			@include font-size(10);
			display: block;
			padding-bottom: 2px;
		}
		input {
			width: 100%;
			height: 38px;
			padding: 0 14px;
		}
		.expiry {
			flex: 1;
			input {
				width: 120px;
			}
		}
		.dropdowns {
			display: flex;
			padding-right: 13px;
			.p-dropdown {
				flex: 1;
				height: 38px;
				margin-right: 12px;
				@include font-size(14);
			}
		}
	}
}

.form-wrapper {
	&__item {
		margin-bottom: 15px;
		&--flex {
			display: flex;
		}
	}
}

.p-button {
	width: 100%;
	height: 45px;
	@include font-size(14);
	background: $blue;
	font-weight: 600;
}
.card-wrapper {
	perspective: 600px;
}
@keyframes keyMove {
	0% {
		top: 0;
		opacity: 1;
	}
	25% {
		top: -16px;
		opacity: 0;
	}
	50% {
		top: -16px;
		opacity: 0;
	}
	100% {
		top: -40px;
		opacity: 1;
	}
}
@keyframes keyMoveReverse {
	0% {
		top: -40;
		opacity: 1;
	}
	25% {
		top: -16px;
		opacity: 0;
	}
	50% {
		top: -16px;
		opacity: 0;
	}
	100% {
		top: 0;
		opacity: 1;
	}
}
.card {
	transition: transform 1s;
	transform-style: preserve-3d;
	width: 345px;
	height: 215px;
	margin: 0 auto;
	position: relative;
	color: $white;
	text-transform: uppercase;

	.selector-highlight {
		border: 1px solid $white;
		height: 45px;
		position: absolute;
		z-index: 1000;
		border-radius: 6px;
		top: 104px; 
		width: 317px; 
		left: 14px;
		transition: all ease-in 300ms;
	}

	.label {
		text-transform: none;
	}
	.front-card-type {
		text-align: right;
		img {
			width: 84px;

			height: 66px;
		}
	}

	&__number {
		margin: 20px 0 30px;
		padding: 0 10px;
		height: 18px;
		overflow: hidden;
		span {
			display: inline-block;
			overflow: hidden;
			@include font-size(16);
			font-weight: 600;
			width: 11px;
			position: relative;
			animation: keyMoveReverse 800ms forwards;
			&:nth-child(4n) {
				margin-right: 22px;
			}
			span {
				width: 11px;
				margin-bottom: 18px;
			}
			&.active {
				animation: keyMove 800ms forwards;
			}
		}
	}

	&__barcode {
		margin: 26px 0 15px;
		height: 40px;
		background: #000;
	}

	&__cvv {
		margin: 0 10px 26px;
		text-align: right;
		font-weight: 600;
		.label {
			padding-right: 10px;
		}
		.cvv-placeholder {
			background: $white;
			height: 35px;
			border-radius: 6px;
			color: #000;
			display: flex;
			justify-content: right;
			align-items: center;
			padding: 10px;
		}
	}

	.card-type {
		margin-bottom: 45px;
		padding: 0 20px;
		text-align: right;
		img {
			max-width: 80px;
		}
	}

	&__holder-expiry {
		display: flex;
		justify-content: space-between;
		padding: 0 10px;
		font-weight: 600;
	}

	&__holder {
		flex: 1;
	}

	&__expiry {
		width: 70px;
		padding-left: 20px;
	}

	&.flip {
		transform: rotateY(180deg);
	}
	&__face {
		position: absolute;
		height: 100%;
		width: 100%;
		backface-visibility: hidden;
		border-radius: 20px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.label {
			@include font-size(10);
			display: block;
			margin-bottom: 5px;
			font-weight: 400;
		}
		&--front {
			background: #061f3a;
			padding: 24px 14px;
		}
		&--back {
			background-color: #061f3a;
			transform: rotateY(180deg);
		}
	}
}
</style>
