
// colors
$red: #ff4f4f;
$blue: #0055d4;
$white: #fff;
$dark-grey: #6e6b7b;
$text-color: $dark-grey;
$orange: #ff9f43;
$green: #28c76f;
$light-orange: #f8f8f8;
$light-grey: #d6dce1;
$bg-blue: #d4eafd;     
$border-grey: #dee2e9;

// typo
$default-font: 'Ubuntu', sans-serif;

