<template>
    <div class="breadcrumb">
        <template v-for="breadcrumb in breadcrumbs" :key="breadcrumb.title">
            <router-link :to="breadcrumb.link" v-if="breadcrumb.link">{{breadcrumb.text}}</router-link> <i  v-if="breadcrumb.link" class="pi pi-chevron-right"></i>
            <span v-if="!breadcrumb.link">Details</span>
        </template>
    </div>
</template>

<script>
export default {
    props:['breadcrumbs']
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/utils/_variables';
@import '@/assets/scss/utils/_mixins';
.breadcrumb {
    border-left: $border-grey 1px solid;
    padding-left: 18px;
    @media (max-width: 600px) {
      display: none;
    }
    .pi {
      @include font-size(8);
      margin: 0 5px;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>