<template>
  <div class="features__item">
      <img :src="require(`@/assets/images/${icon}`)" :alt="title">
      <h2>{{title}}</h2>
      <p v-html="contentHTML"></p>
  </div>
</template>

<script>
export default {
    data(){
       return{
         contentHTML: this.content,
       }
     },
    props: ['icon','title','content']
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/utils/_variables';
@import '@/assets/scss/utils/_mixins';

h2 {
    @include font-size(18);
}
</style>