<template>
  <div class="meta">
      <div class="meta__item meta__item--left">
        <h2>Product Details</h2>
        <Breadcrumb :breadcrumbs="breadcrumbs"/>
      </div>
      <div class="meta__item meta__item--right">
        <a class="menu">
          <i class="pi pi-th-large"></i>
        </a>
      </div>
    </div>
</template>

<script>
const breadcrumb = [
  {link: '/', text: 'Home'},
  {link: '/', text: 'eCommerce'},
  {link: '/', text: 'Shop'},
  {link: null, text: 'Details'}
]
import Breadcrumb from '@/components/Breadcrumb.vue';
export default {
    data() {
        return {breadcrumbs: breadcrumb}
    },
    components: {
        Breadcrumb
    }
}
</script>

<style lang="scss" scoped>

@import '@/assets/scss/utils/_variables';
@import '@/assets/scss/utils/_mixins';
h2 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
h3 {
  margin-bottom: 17px;
}
.menu {
  padding: 10px 12px;
  background: $red;
  border-radius: 6px;
  i {
    @include font-size(12);
    color: $white;
  }
}

.meta {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  &__item {
    display: flex;
    align-items: center;
  }
  h2 {
    margin-right: 18px;
  }
}
</style>