<template>
	<div class="rating">
		<i class="pi pi-star-fill"></i>
		<i class="pi pi-star-fill"></i>
		<i class="pi pi-star-fill"></i>
		<i class="pi pi-star-fill"></i>
		<i class="pi pi-star"></i>
	</div>
</template>

<script>
export default {};
</script>

<style></style>
