<template>
    <div class="slider">
        <h3>{{title}}</h3>
        <h5>{{subTitle}}</h5>
        <img :src="require(`@/assets/images/${image}`)" :alt="title">
        <div class="rating">
            <StarRating active-color="#ff9f43" inactive-color="#f8f8f8" :rating="rating" :star-size="18" :show-rating="false" :border-width="1" />
        </div>
        <div class="price">
            {{price}}
        </div>
    </div>
</template>

<script>
export default {
    props: [
         'image','title','subTitle','rating','price'
    ]
}
</script>

<style lang="scss" scoped>
@import '@/assets/scss/utils/_variables';
@import '@/assets/scss/utils/_mixins';
.slider {
    background: $light-orange;
    text-align: center;
    padding: 20px;
    h3,h5 {
        margin: 0;
        padding: 0;
        font-weight: 500;
    }
    h5 {
        @include font-size(12);
    }
    img {
        margin: 60px 0;
        width: 176px;
        height: 176px;
    }
    .price {
        color: $red;
    }
    .rating {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }
}
</style>