<template>
  <Button :label="label" :icon="icon" :iconPos="iconPos" :class="color?color+'-button': 'default-button'"/>
</template>

<script>
export default {
    name:'ThemeButton',
    props:['label','icon','iconPos','color']
}
</script>

<style lang="scss" scoped>

@import '@/assets/scss/utils/_variables';
@import '@/assets/scss/utils/_mixins';

.p-button {
  @include font-size(14);
  padding: 12px 20px;
  margin-right: 15px;
  i {
    @include font-size(16);
  }
}
.default-button {
  background: $white;
  border-color: $border-grey;
  color: $text-color;
  i {
    color: $text-color;
  }
  &:hover {
    background: rgba($dark-grey, 0.3);
    border-color: $border-grey;
    color: $text-color;
  }
}
.red-button {
  background: $red;
  border-color: $red;
  &:hover {
    background: rgba($red, 0.8);
    border-color: rgba($red, 0.3);
  }
}
</style>